{% extends "base.html" %}

{% block head %}
{{ super() }}
<meta name="description" content="{{ article.summary|striptags }}">
<script src="{{ SITEURL }}/theme/js/jquery-1.12.4.min.js"></script>
<script src="{{ SITEURL }}/theme/js/bokeh-0.12.3.min.js"></script>
<script src="{{ SITEURL }}/theme/js/custom.js"></script>
{% endblock %}

{% block title %}
{{ article.title|striptags }} {{ super() }}
{% endblock %}

{% block page_header %}
{{ article.title }}
{% endblock %}

{% block content %}
<article class="article">
  <header>
    <ul class="list-inline">
      <li class="list-inline-item text-muted" title="{{ article.date.isoformat() }}">
        <i class="fa fa-clock-o"></i>
        {{ article.locale_date }}
      </li>
      <li class="list-inline-item">
        <i class="fa fa-folder-open-o"></i>
        <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
      </li>
      {% if not HIDE_AUTHORS and article.authors %}
      <li class="list-inline-item">
        <i class="fa fa-user-o"></i>
        {% for author in article.authors %}
        <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
      </li>
      {% endif %}
      {% if article.tags %}
      <li class="list-inline-item">
        <i class="fa fa-files-o"></i>
        {% for tag in article.tags %}
        <a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
      </li>
      {% endif %}
    </ul>
  </header>
  <hr>
  <div class="content">
    <div class="row">
      <!-- https://afeld.github.io/bootstrap-toc/:sidebar, which will move to the top on a small screen -->
      <!--div class="col-sm-3">
        <nav id="toc" data-spy="affix" data-toggle="toc"></nav>
      </div>
      <div class="col-sm-9"-->
        {{ article.content }}
      <!--/div-->    
  </div>
</article>
{% include 'include/comments.html' %}
{% if article.related_posts %}
<!-- https://codepen.io/ncerminara/pen/gpVXxz -->
      <div class="relatedposts">
          <h1><small>Related posts</small></h1>
          <div class="card-deck-wrapper">
              <div class="row">
                <ul class="post-list">
                {% for related_post in article.related_posts %}
                    <li>
                      <div class="col-sm-4 card-wrapper">
                          <div class="card related-art">
                            <a href="{{ SITEURL }}/{{ related_post.url }}">
                            <div class="image relatedimage">
                              <img class="card-img-top img-responsive img-feat-rel" src="{{ related_post.metadata.image }}">
                            </div>
                            </a>
                            <div class="card-block">
                                <h4 class="card-title"><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></h4>
                                <p class="card-text">{{ related_post.metadata.description }}</p>
                            </div>
                            <div class="footer-rel">
                              <div class="footer-text">
                                  <p class="card-text">
                                      <small class="text-muted">
                                      {% for tag in related_post.tags %}
                                          <a href="{{ SITEURL }}/{{ tag.url }}" class="taglink">#{{ tag }}</a>
                                          {% if not loop.last %} {% endif %}
                                      {% endfor %}
                                  </small>
                                  </p>
                                </div>
                              </div>
                          </div>
                      </div>
                    </li>
                {% endfor %}
                </ul>
              </div>
          </div>
      </div>
{% endif %}
{% endblock %}