{% extends "base.html" %}

{% block head %}
{{ super() }}
{% if DESCRIPTION %}
<meta name="description" content="{{ DESCRIPTION|striptags }}">
{% endif %}
{% endblock %}

{% block title %}
{{ SITENAME }} | {{ SITESUBTITLE }}
{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="headertitle">
<p  class="lead"><strong>Welcome</strong> to my geo tech blog, where I present some of my projects.</p>
  <div class="alltags">
  <ul class="tagcloud list-inline">
        <li class="list-inline-item" style="font-size: {{ articles|count|count_to_font_size }};">
              <a href="{{ SITEURL }}" class="taglink">All</a>
          </li>
       {%- for tag, articles in tags|sort %}
          <li class="list-inline-item" style="font-size: {{ articles|count|count_to_font_size }};">
              <a href="{{ SITEURL }}/{{ tag.url }}"  class="taglink">#{{ tag }}</a>
          </li>
        {% endfor %}
  </ul>
  </div>
</div>

{% for article in articles_page.object_list %}
<article class="row teaser">
  <header class="col-sm-4 text-muted">
    {% if article.metadata.image %}
      <a href="{{ SITEURL }}/{{ article.url }}">
        <div class="image featuredimage">
          <img src="{{ article.metadata.image }}" />
        </div>
      </a>
      {% else %}
      {#}<div class="center aligned">
        <i class="large circular leaf icon"></i>
      </div>#}
      {% endif %}
  </header>
  <div class="col-sm-8">
    <h4 class="title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h4>
    {% if article.tags %}
    <ul class='list-inline'>
      <li class="list-inline-item">
        {% for tag in article.tags %}
        <a href="{{ SITEURL }}/{{ tag.url }}" class="taglink">#{{ tag }}</a>
        {% endfor %}
      </li>
    </ul>
      {% endif %}
    <div class="content">
      {{ article.metadata.description }}
    </div>
  </div>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% include 'include/pagination.html' %}
{% endblock %}
